@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar{
    background-color: black!important;
}

.nav-item a:hover{
    color: lightblue!important;
}
.nav-item a{
    color: white!important;
}

.navbar-brand{
    color: lightblue!important;
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: -0.8px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
}